@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>TomaNota</PageTitle>

<div class="card bg-dark text-light my-3 shadow">
	<div class="card-header">
		<h3>Available Notes</h3>
	</div>
	<div class="card-body">
		<h5>Spanish</h5>
		<hr>
		<div class="d-flex justify-content-evenly">
			@if (SpanishTitles == null)
			{
				<div class="spinner-border" role="status">
					<span class="sr-only"></span>
				</div>
			}
			else
			{
				@foreach (var title in SpanishTitles)
				{
					<button class="btn btn-light" @onclick="@(e => SelectNote(title))">@title</button>
				}
			}
		</div>
		<h5>German</h5>
		<hr>
		<div class="d-flex justify-content-evenly">
			@if (GermanTitles == null)
			{
				<div class="spinner-border" role="status">
					<span class="sr-only"></span>
				</div>
			}
			else
			{
				@foreach (var title in GermanTitles)
				{
					<button class="btn btn-light">@title</button>
				}
			}
		</div>
		<hr>
		<div class="d-flex justify-content-center">
			<button class="btn btn-light" @onclick="NavigateToCreate">Create New</button>
		</div>
	</div>
</div>
<div class="card bg-light mx-5">
	<div class="card-header text-center">
		@if (SelectedTitle == null)
		{
			<h3 class="text-info">Selected: No Notes Selected</h3>
		}
		else
		{
			<h3 class="text-dark">Selected: @SelectedTitle</h3>
		}
	</div>
	<div class="card-body">
		<div class="d-flex justify-content-evenly">
			<div>
				<button class="btn btn-dark px-5" disabled="@TitleIsReady" @onclick="NavigateToReview">Review Notes</button>
			</div>
			<div>
				<button class="btn btn-dark px-5" disabled="@TitleIsReady">Start Quiz</button>
			</div>
		</div>
	</div>
</div>

@code
{
	String? SelectedTitle { get; set; }
	Boolean TitleIsReady { get; set; } = true;
	String[]? SpanishTitles { get; set; }
	String[]? GermanTitles { get; set; }

	protected override async Task OnInitializedAsync()
	{
		SpanishTitles = await Http.GetFromJsonAsync<String[]?>("https://europe-west1-tomanota-374115.cloudfunctions.net/get-spanish-titles");
		@* Console.WriteLine(SpanishTitles); *@
	}
	
	private void NavigateToReview()
	{
		if (SelectedTitle != null)
		{
			NavigationManager.NavigateTo("view-document/" + SelectedTitle);
		}
	}
	
	private void NavigateToCreate()
	{
		NavigationManager.NavigateTo("prompt-creation/");
	}
	
	private void SelectNote(String TitleIn)
	{
		SelectedTitle = TitleIn;
		TitleIsReady = false;
	}

}
