@page "/quiz"
@page "/quiz/{title}"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Note Learning Session</PageTitle>

<div class="card bg-dark text-light my-3 shadow">
	<div class="card-header text-center">
		<h3>@Title</h3>
	</div>

	<div class="@CardResponse">
		<h3>@CurrentHeading</h3>
		<hr>
		<textarea type="text" @bind="@Response" cols="50" rows="1"></textarea>

		<div style="display: @CorrectDisplay;">
			<h3>Correct!</h3>
		</div>

		<div style="display: @IncorrectDisplay;">
			<h3>Wrong Answer</h3>
			<h3>@Feedback</h3>
		</div>
		
		<div class="clearfix">
			<button class="btn btn-light float-end" style="display: @QuizComplete" @onclick="AdvanceQuiz">@BtnText</button>
		</div>
	</div>
</div>
<div class="card text-center bg-light text-dark my-3 mx-5">
	<div class="card-header">
		Response
	</div>
	<div class="card-body">
		@Feedback
	</div>
	
</div>

@code
{
	[Parameter]
	public String? Title { get; set; }
	private DocPrompts? returnedPrompts = new DocPrompts();
	bool promptComplete = false;
	String? CardResponse { get; set; } = "card-body text-center";
	String CorrectDisplay { get; set; } = "None";
	String IncorrectDisplay { get; set; } = "None";
	String Response { get; set; } = String.Empty;
	Outcome RoundResult { get; set; } = new Outcome();
	String? Ans { get; set; }
	String? Feedback { get; set; }
	String? QuizComplete { get; set; }
	String BtnText { get; set; } = "Check Answer";
	int score;
	String CurrentHeading { get; set; } = "";
	int quizIndex = 0;

	public class Outcome
	{
		public bool areEqual { get; set; }
		public string? userResponse { get; set; }
		public string? correctAnswer { get; set; }
	}

	protected override async Task OnInitializedAsync()
	{
		var jsonString = await Http.GetStringAsync("https://europe-west1-tomanota-374115.cloudfunctions.net/get-prompts?q=" +
		Title.ToString());
		returnedPrompts.Prompts = JsonSerializer.Deserialize<List<List<object>>>(jsonString);
		returnedPrompts.numOfPrompts = returnedPrompts.Prompts.Count();
		CurrentHeading = returnedPrompts.Prompts[0][0].ToString();
	}

	public class DocPrompts
	{
		public List<List<object>>? Prompts { get; set; } = new List<List<object>>();
		public int numOfPrompts { get; set; }

	}

	public async Task GetResponseAsync()
	{
		RoundResult = await
		Http.GetFromJsonAsync<Outcome>($"https://europe-west1-tomanota-374115.cloudfunctions.net/check-prompts?q={Response.ToString()}&a={Ans}");
	}

	public async void AdvanceQuiz()
	{
		@* To check answer *@
		if (!promptComplete)
		{
			promptComplete = true;
			BtnText = "Continue";

			Ans = returnedPrompts.Prompts[quizIndex][1].ToString();

			await GetResponseAsync();

			Console.WriteLine("Correct: " + RoundResult.areEqual);

			if (RoundResult.areEqual)
			{
				Feedback = "Correct";
				CorrectDisplay = "";
				CardResponse = "card-body text-center bg-success";
				Console.WriteLine("Showing correct message");
			}
			else
			{
				CardResponse = "card-body text-center bg-danger";
				IncorrectDisplay = "";
				Feedback = $"Your attempt: {RoundResult.userResponse}\nExpected answer: {RoundResult.correctAnswer}";
				Console.WriteLine("Showing incorrect message");
			}
		}
		else
		{
			CardResponse = "card-body text-center bg-dark";
			BtnText = "Check Answer";
			promptComplete = false;
			Feedback = "";
			CorrectDisplay = "None";
			IncorrectDisplay = "None";
			Response = "";
			if (quizIndex < returnedPrompts.numOfPrompts -1)
			{
				quizIndex++;
				CurrentHeading = returnedPrompts.Prompts[quizIndex][0].ToString();
			}
			else
			{
				QuizComplete = "None";
			}
		}
	}
}
