@page "/quiz"
@inject HttpClient Http

<PageTitle>Quiz: @prompts.title</PageTitle>

<div class="card-header text-center">
    <h3>@CurrentHeading</h3>
</div>

<div class="card-body">
    <input type="text" @bind="@Response" />

    <div style="display: @CorrectDisplay">
        <h3>Correct!</h3>
    </div>

    <div style="display: @IncorrectDisplay">
        <h3>That's not quite right</h3>
        <h3>Correct answer: @Ans</h3>
    </div>

    <button style="display: @QuizComplete" @onclick="AdvanceQuiz">@BtnText</button>

</div>

@code
{
    private DocPrompts? prompts;
    bool promptComplete = true;
    bool beganQuiz = false;
    String CorrectDisplay { get; set; } = "None";
    String IncorrectDisplay { get; set;} = "None";
    String Response { get; set; } = String.Empty;
    String? Ans { get; set; }
    String? QuizComplete { get; set; }
    String BtnText { get; set; } = "Start Quiz!";
    int score;
    String CurrentHeading { get; set; } = "Select a quiz";
    int quizIndex = 0;
    int numOfPrompts;

    protected override async Task OnInitializedAsync()
    {
        prompts = await Http.GetFromJsonAsync<DocPrompts>("sample-data/español-viajes-1.json");
    }

    public class DocPrompts
    {
        public String? title { get; set; }
        public List<List<object>>? prompts { get; set; }
    }

    public void AdvanceQuiz()
    {
        if (!beganQuiz) {
            beganQuiz = true;
            if (prompts.prompts[quizIndex][0].ToString() != null)
            {
                CurrentHeading = prompts.prompts[quizIndex][0].ToString();

            }
            else
            {
                CurrentHeading = "";
            }
            BtnText = "Check answer";
            numOfPrompts = prompts.prompts.Count();
        } 
        else
        {
            if (promptComplete)
            {
                promptComplete = false;
                CorrectDisplay = "None";
                IncorrectDisplay = "None";
                BtnText = "Continue";
                if (Response.ToString() == prompts.prompts[quizIndex][1].ToString())
                {
                    CorrectDisplay = "";
                }
                else
                {
                    IncorrectDisplay = "";
                    Ans = prompts.prompts[quizIndex][1].ToString();
                }
                Console.WriteLine(Response.ToString());
            }
            else
            {
                BtnText = "Check Answer";
                promptComplete = true;
                CorrectDisplay = "None";
                IncorrectDisplay = "None";
                Response = "";
                if (quizIndex < numOfPrompts)
                {
                    quizIndex++;
                    CurrentHeading = prompts.prompts[quizIndex][0].ToString();
                }
                else
                {
                    QuizComplete = "None";
                }
            }
        }
    }
}