@page "/account"
@using Microsoft.JSInterop
@using System
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IJSRuntime IJSRuntime
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IFirebaseAuthService FirebaseAuthService

<div class="container">
	<div class="card text-light bg-dark">
		<div class="card-header">
			<h3>Account settings</h3>
		</div>
		<div class="card-body">
			@if (FirebaseAuthService.FirebaseAuthClient.User != null)
			{
				<div class="card">
					<Button Color="Color.Primary" Clicked="@(async () => await HandleRedraw())">Redraw</Button>

					<LineChart @ref="lineChart" TItem="double" />
				</div>

				@if (FirebaseAuthService.FirebaseAuthClient.User.Info.DisplayName != null)
				{
					<h4>Account settings for @FirebaseAuthService.FirebaseAuthClient.User.Info.DisplayName</h4>
				}
				<div class="my-3">
					<p>Email: @FirebaseAuthService.FirebaseAuthClient.User.Info.Email</p>
					<label>New password</label>
					<br />
					<input class="@errorInput" type="password" @bind="UserPass1" />
					<br />
					<label>Repeat password</label>
					<br />
					<input class="@errorInput" type="password" @bind="UserPass2" />
					<br />
					<small class="text-danger">@ErrorText</small>
					<small class="text-success">@ChangedText</small>
					<br />
					<button class="btn btn-light my-3" @onclick="ChangePass">Change password</button>

				</div>

				<button class="btn btn-danger" @onclick="DeleteAccount">Delete Account</button>
				<small class="text-danger">@DeleteAccountError</small>
			}
		</div>
	</div>
</div>


@code {

	/*
	* Sample Chart Code
	*/

	LineChart<double> lineChart;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await HandleRedraw();
		}
	}

	async Task HandleRedraw()
	{
		await lineChart.Clear();

		await lineChart.AddLabelsDatasetsAndUpdate(Labels, GetLineChartDataset());
	}

	LineChartDataset<double> GetLineChartDataset()
	{
		return new LineChartDataset<double>
			{
				Label = "# of randoms",
				Data = RandomizeData(),
				BackgroundColor = backgroundColors,
				BorderColor = borderColors,
				Fill = true,
				PointRadius = 3,
				CubicInterpolationMode = "monotone",
			};
	}

	string[] Labels = { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" };
	List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
	List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

	List<double> RandomizeData()
	{
		var r = new Random(DateTime.Now.Millisecond);

		return new List<double> {
				r.Next( 3, 50 ) * r.NextDouble(),
				r.Next( 3, 50 ) * r.NextDouble(),
				r.Next( 3, 50 ) * r.NextDouble(),
				r.Next( 3, 50 ) * r.NextDouble(),
				r.Next( 3, 50 ) * r.NextDouble(),
				r.Next( 3, 50 ) * r.NextDouble() };
	}

	/*
	 * End of sample code
	 */


	protected String UserPass1 { get; set; } = String.Empty;
	protected String UserPass2 { get; set; } = String.Empty;
	String errorInput { get; set; } = "rounded";
	String ErrorText { get; set; }
	String ChangedText { get; set; }
	String DeleteAccountError { get; set; }

	protected override Task OnInitializedAsync()
	{
		if (FirebaseAuthService.FirebaseAuthClient.User == null)
		{
			NavigationManager.NavigateTo("/log-in");
		}
		return base.OnInitializedAsync();
	}

	public async Task ChangePass()
	{
		if (FirebaseAuthService.FirebaseAuthClient.User != null)
		{
			if (UserPass1 == String.Empty || UserPass2 == String.Empty)
			{
				errorInput = "border border-danger rounded";
			}
			else if (UserPass1 != UserPass2)
			{
				errorInput = "rounded";
				ErrorText = "Passwords do not match";
			}
			else if (UserPass1.Count() < 6)
			{
				ErrorText = "Passwords must have at least 6 characters";
			}
			else
			{
				try
				{
					await FirebaseAuthService.FirebaseAuthClient.User.ChangePasswordAsync(UserPass1);
					errorInput = "border border-success rounded";
					ErrorText = "";
					ChangedText = "Password changed!";
				}
				catch (Exception e)
				{
					Console.WriteLine(e.Message);
				}
			}
		}
	}

	public async Task DeleteAccount()
	{
		if (FirebaseAuthService.FirebaseAuthClient.User != null)
		{
			bool result = await IJSRuntime.InvokeAsync<bool>("confirm", "Delete account? This action cannot be undone.");
			if (result)
			{
				try
				{
					await FirebaseAuthService.FirebaseAuthClient.User.DeleteAsync();
					NavigationManager.NavigateTo("/");
				}
				catch (Exception e)
				{
					DeleteAccountError = "Session expired. Please try to log in again.";
					Console.WriteLine(e.Message);
				}

				// TODO: Delete all user's notes
			}
		}
	}
}
