@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IFirebaseAuthService FirebaseAuthService

<PageTitle>TomaNota</PageTitle>

<style>
	.top-section {
		min-height: 50vh;
		margin-bottom: 10em;
	}

	.bottom-section {
		max-height: 15em;
	}

	.btn-block {
		width: 100%;
	}
</style>

<div class="top-section container">
	@if (FirebaseAuthService.FirebaseAuthClient.User != null)
	{
		<div class="card bg-light text-dark shadow mb-5">
			<div class="card-header">
				<h5>Your Notes</h5>
			</div>
			<div class="card-body">
				<div class="d-flex justify-content-center">
					<button class="btn btn-primary" @onclick="NavigateToCreate">Create New</button>
				</div>
			</div>
		</div>
	}

	@* English *@
	<div class="card bg-light text-dark shadow mb-3">
		<div class="card-header">
			<h3>Premade Notes ~ English Speakers</h3>
		</div>
		<div class="card-body">
			<div class="card bg-light text-dark mb-3">
				<div class="card-header">
					<h5>Spanish</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (SpanishTitlesEN == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in SpanishTitlesEN)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
			<div class="card bg-light text-dark mb-3">
				<div class="card-header">
					<h5>German</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (GermanTitlesEN == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in GermanTitlesEN)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
			<div class="card bg-light text-dark">
				<div class="card-header">
					<h5>Irish</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (IrishTitlesEN == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in IrishTitlesEN)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>

	@* Spanish *@
	<div class="card bg-light text-dark shadow mb-3">
		<div class="card-header">
			<h3>Notas Prehechas ~ Hispanohablantes</h3>
		</div>
		<div class="card-body">
			<div class="card bg-light text-dark mb-3">
				<div class="card-header">
					<h5>Inglés</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (EnglishTitlesES == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in EnglishTitlesES)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
			<div class="card bg-light text-dark">
				<div class="card-header">
					<h5>Alemán</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (GermanTitlesES == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in GermanTitlesES)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>

	@* German *@
	<div class="card bg-light text-dark shadow mb-3">
		<div class="card-header">
			<h3>vorgefertigte Notizen ~ Deutschsprachige</h3>
		</div>
		<div class="card-body">
			<div class="card bg-light text-dark mb-3">
				<div class="card-header">
					<h5>Englisch</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (EnglishTitlesDE == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in EnglishTitlesDE)
							{
								<button class="btn btn-primary m-1" @onclick="@(e => SelectNote(title))">@title</button>
							}
						}
					</div>
				</div>
			</div>
			<div class="card bg-light text-dark">
				<div class="card-header">
					<h5>Spanisch</h5>
				</div>
				<div class="card-body">
					<div class="d-flex justify-content-evenly flex-wrap">
						@if (SpanishTitlesDE == null)
						{
							<div class="spinner-border" role="status">
								<span class="sr-only"></span>
							</div>
						}
						else
						{
							@foreach (var title in SpanishTitlesDE)
							{
								<button class="btn btn-light">@title</button>
							}
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="rounded-top bg-dark mt-3 mx-3 fixed-bottom bottom-section shadow">
	<div class="card-body">
		<div class="text-center">
			<p>@SelectedTitle</p>
		</div>
		<div>
			<button class="btn btn-light btn-lg btn-block my-1" disabled="@TitleIsReady" @onclick="NavigateToReview">
				Review
				Notes
			</button>
		</div>
		<div>
			<button class="btn btn-light btn-lg btn-block my-1" disabled="@TitleIsReady" @onclick="NavigateToQuiz">Attempt Notes</button>
		</div>
	</div>
</div>

@code
{
	String? SelectedTitle { get; set; }
	Boolean TitleIsReady { get; set; } = true;
	String[]? EnglishTitlesES { get; set; }
	String[]? GermanTitlesES { get; set; }
	String[]? SpanishTitlesEN { get; set; }
	String[]? GermanTitlesEN { get; set; }
	String[]? IrishTitlesEN { get; set; }
	String[]? SpanishTitlesDE { get; set; }
	String[]? EnglishTitlesDE { get; set; }

	protected override async Task OnInitializedAsync()
	{
		try
		{
			string url_EN_titles_ES = "https://europe-west1-tomanota-374115.cloudfunctions.net/get-EN-titles-ES";
			string url_EN_titles_DE = "https://europe-west1-tomanota-374115.cloudfunctions.net/get-EN-titles-DE";
			string url_EN_titles_IE = "https://europe-west1-tomanota-374115.cloudfunctions.net/get-EN-titles-IE";
			SpanishTitlesEN = await Http.GetFromJsonAsync<String[]?>(url_EN_titles_ES);
			GermanTitlesEN = await Http.GetFromJsonAsync<String[]?>(url_EN_titles_DE);
			IrishTitlesEN = await Http.GetFromJsonAsync<String[]?>(url_EN_titles_IE);
		}
		catch
		{
			throw new HttpRequestException();
		}
	}

	private void NavigateToReview()
	{
		if (SelectedTitle != null)
		{
			NavigationManager.NavigateTo("view-document/" + SelectedTitle);
		}
	}

	private void NavigateToQuiz()
	{
		if (SelectedTitle != null)
		{
			NavigationManager.NavigateTo("quiz/" + SelectedTitle);
		}
	}


	private void NavigateToCreate()
	{
		NavigationManager.NavigateTo("prompt-creation/");
	}

	private void SelectNote(String TitleIn)
	{
		SelectedTitle = TitleIn;
		TitleIsReady = false;
	}

}
